{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/add_link.css' %}">
{% endblock %}

{% block sidebar %}
<p class="masked-text"><a href="{% url 'home_view'%} ">View Posts</a></p>
{% endblock %}

{% block content %}
<h2 class="sexy-title">ADD POST</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <br>
    <button type="submit">POST!</button>
    <br><br>
    <hr>
    <a href="{% url 'home_view' %}">Back to Home</a>
</form>
{% endblock %}
