{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/create_expense.css' %}">
{% endblock %}

{% block content %}
<p class="sexy-title">Record Expenses</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <button type="submit">Create Expense</button>
</form>




  <script type="text/javascript">
    document.querySelectorAll("#copybtn").forEach(function(button) {
        button.addEventListener("click", function() {
            const url = button.getAttribute("data-url");
            copyToClipboard(url);
        });
    });

    function copyToClipboard(text) {
        if (!navigator.clipboard) {
            alert("Clipboard API not available in this browser.");
            return;
        }

        navigator.clipboard.writeText(text).then(function() {
            alert("URL copied to clipboard");
        }).catch(function(err) {
            alert("Copy failed: " + err);
        });
    }
  </script>
{% endblock %}
