{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/post-detail.css' %}">
{% endblock %}

{% block content %}
  <div class="paper-container">    
    <div class="icon">
        <img src="{{ post.image.url }}">
    </div>
    <br>
    <h2>{{ post.title }}</h2>
    <hr>
    <br>
    <div class="post-content">
        <p>{{ post.content|safe }}</p>
    </div>
    <hr>
    <div class="tagicon">

    </div>
    {% for tag in post.tags.all %}
    {{ tag.name }}
{% endfor %}

  </div>
{% endblock %}
