{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/money.css' %}">
{% endblock %}
{% block sidebar %}
<p class="masked-text"><a href="{% url 'home_view'%} ">View Posts</a></p>
{% endblock %}
{% block content %}
<p class="sexy-title">Manage Your Money</p>
<div class="paper-container">
    <a href="{% url 'create_income'%}">Add Incomes </a>
    <a href="{% url 'create_expense'%}">Add Expenses </a>
    <br>
   
        <p>Income Items</p>
  
    <table class="custom-table">
     
        <tr>
            <th>Date</th>
            <th>Source</th>
            <th>Amount</th>
        </tr>
        {% for income in income_items %}
        <tr>
            <td>{{ income.date }}</td>
            <td>{{ income.source }}</td>
            <td>NRs.{{ income.amount }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No income items recorded yet.</td>
        </tr>
        {% endfor %}
        
    </table>
    <br>
    <p>Expense Items</p>
    <table class="custom-table">
       
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
        {% for expense in expense_items %}
        <tr>
            <td>{{ expense.date }}</td>
            <td>{{ expense.description }}</td>
            <td>NRs.{{ expense.amount }}</td>
            <td>
                <form method="post" action="{% url 'delete_expense' expense.id %}">
                    {% csrf_token %}
                    <button type="submit" onclick="confirmDelete('{{ expense.id }}')">Delete</button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No expense items recorded yet.</td>
        </tr>
        {% endfor %}
        
    </table>
    
    <p>Total Income: NRs.{{ total_income }}</p>
    <p>Total Expenses: NRs.{{ total_expenses }}</p>
    
    {% if remaining_amount > 0 %}
    <p>Remaining Amount: NRs.{{ remaining_amount }}</p>
{% elif debt_amount > 0 %}
    <p>Debt Amount: NRs.{{ debt_amount }}</p>
{% else %}
    <p>Your income and expenses are balanced.</p>
{% endif %}

</div>



<script type="text/javascript">
    function confirmDelete(expenseId) {
        if (confirm("Are you sure you want to delete this expense?")) {
            // If the user confirms, submit the form for deletion
            const form = document.querySelector(`form[action="{% url 'delete_expense' 0 %}".replace("0", expenseId)}`);
            form.submit();
        }
    }
</script>
{% endblock %}
