{% extends 'base.html' %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-6 space-y-10" >
        <img src="/static/images/pagedemo.png" class="img-fluid" style="width: 400px; height: 200px;" id="detailpic">
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-start">    
      <div>
        <p class="font-bold text-4xl text-justify">Welcome to our apps!</p>      
        
  </div>
  <div>
    <p class="text-gray-600" > Here, you'll find a collection of innovative apps developed by me to solve your problems.</p>
  </div>
</div>


{% endblock %}
