/* Add styling for the paper-like container */
.paper-container {
    background-color: #dfd8ce;
    border: 1px solid #ccc;
    border-radius: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    min-width: 90%;
    text-align: left;
  }
  .sexy-title {
    color: rgba(16, 17, 13, 0.808);
    font-family: 'Genos', sans-serif;
    font-size: 35px;
    text-shadow: 0 0 10px rgba(177, 219, 230, 0.8); /* Adjust the shadow size and color as needed */
}
  .icon {
    width: 150px;    /* Set the width of the container div */
    height: 150px;   /* Set the height of the container div */
    overflow: hidden; /* Hide any overflowing content */
  
    /* Apply the object-fit property to the contained image */
  }
  
  .icon img {
    width: 100%;     /* Ensure the image takes the full width of the div */
    height: 100%;    /* Ensure the image takes the full height of the div */
    object-fit: cover; /* Resize the image to cover the entire container */
  }
  /* You can customize the styles above to match your design preferences */
  .post-content{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
  }
  .tagicon{
    height: 40px;
    width: 40px;
    background-image: url('/static/images/R1.png');
    background-size: cover;
  }
    /* Define custom styles for the table */
    .custom-table {
      width: 100%;
      border-collapse: collapse;
  }

  .custom-table th, .custom-table td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #dee2e6;
  }

  .custom-table th {
      background-color: #343a40;
      color: #fff;
  }

  .custom-table tbody tr:hover {
      background-color: #495057;
      color: #fff;
  }
  form {
    display:flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.masked-text {
color:beige;
text-decoration: none;
}

.sexy-title {
    color: rgba(15, 15, 13, 0.808);
    font-family: 'Genos', sans-serif;
    font-size: 35px;
    text-shadow: 0 0 10px rgba(177, 219, 230, 0.8); /* Adjust the shadow size and color as needed */
}



/* Style form labels */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

/* Style text inputs */
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style the submit button */
button {
    background-color: #ff004c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
#down{
  background-color: #126d61;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
#down a{
  text-decoration: none;
  color: #fff;
}

/* Style the "Back" link */
a {
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}

/* Style form errors */
.errorlist {
    color: red;
    margin: 0;
}
.content{
    width: 100%;
    padding: 20px;
   
 
    display:flex;
    text-align: center;
    flex-direction: column!important;
  
}