@font-face {
  font-family: 'Genos';
  src: url('https://fonts.gstatic.com/s/genos/v5/o-0O_tL0-NO4AwST9z4bZA.eot');
  src: url('https://fonts.gstatic.com/s/genos/v5/o-0O_tL0-NO4AwST9z4bZA.eot?#iefix') format('embedded-opentype'),
       url('https://fonts.gstatic.com/s/genos/v5/o-0O_tL0-NO4AwST9z4bZA.woff2') format('woff2'),
       url('https://fonts.gstatic.com/s/genos/v5/o-0O_tL0-NO4AwST9z4bZA.woff') format('woff'),
       url('https://fonts.gstatic.com/s/genos/v5/o-0O_tL0-NO4AwST9z4bZA.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('/static/images/c\ \(2\).jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin-bottom: 70px;
}

.container p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.logo {
  background-image: url("{% static 'images/R.png' %}");
  background-size: cover;
  background-position: center;
  height: 100px;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav ul li {
  list-style-type: none;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
  color: rgb(83, 244, 255);
  font-weight: bold;
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  background-color: none;
}

nav ul li a:hover {
  color: rgb(255, 255, 255);
  background-color: black;
}

/* ... (rest of the styles remain the same) */

.sidebar {
  width: 100%;
  padding: 20px;
  display: none;
  /* ... (rest of the styles remain the same) */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4em;
  background-color: grey;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#button {
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: azure;
  color: black;
  transition: background-color, color 0.1s ease-in;
}

#button:hover {
  background-color: grey;
  color: white;
}

.btnwrap {
  padding: 20px;
}

form {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

/* ... (rest of the styles remain the same) */


/* Style form labels */
label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

/* Style text inputs */
input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the submit button */
button {
  background-color: #007BFF;
  border-radius: 20px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

/* Style the "Back" link */
a {
  display: block;
  margin-top: 10px;
  color: #007BFF;
  text-decoration: none;
}

/* Style form errors */
.errorlist {
  color: red;
  margin: 0;
}
